<h1>Orders#index</h1>
<p>
<%= link_to "Place order", new_order_path %>
<br />
<table>
    <tr>
        <th>customer</th>
        <th>order</th>
        <th>phone</th>
        <th>price</th>
        <th>address</th>
        <th>delivered</th>
    </tr>
<% @all_orders.each do |x| %>
    <tr>
        <td><%= x['customer'] %></td>
        <td><%= x['order'] %></td>
        <td><%= x['phone'] %></td>
        <td><%= x['total'] %></td>
        <td><%= x['address'] %></td>
        <td><%= x['isFulfilled'] %></td>
    </tr>
<% end %>

</table>
</p>
