<h1>Orders#index</h1>
<p>
<%= link_to "Place order", new_order_path %>
<br />
<table class="table table-hover">
    <tr>
        <th>customer</th>
        <th>order</th>
        <th>phone</th>
        <th>price</th>
        <th>address</th>
        <th>delivered</th>
        <th></th>
    </tr>
<% @all_orders.each do |x| %>
    <% if x['isFulfilled'].to_s == 'true' %>
    <tr style='color: #D0D0D0;'>
    <% else %>
    <tr class='clickable-row' data-href='http://52.43.66.226/orders/<%= x['_id']%>'>
    <% end %>


        <td><%= x['customer'] %></td>
        <td><%= x['order'] %></td>
        <td><%= x['phone'] %></td>
        <td><%= x['total'] %></td>
        <td><%= x['address'] %></td>
        <td><%= x['isFulfilled'] %></td>
				<% if x['isFulfilled'].to_s == 'false' %>
					<td><a href="http://52.43.66.226/orders/<%= x['_id'] %>/delete"><button class="btn btn-danger">cancel</button></a></td>
				<% else %>
					<td></td>
				<% end %>
    </tr>
<% end %>

</table>
</p>

<script>
	jQuery(document).ready(function($) {
			$(".clickable-row").click(function() {
					window.document.location = $(this).data("href");
			});
	});
</script>
