<h2>New Order</h2>

<%= form_for @order do |f| %>
    <%= f.label :customer %>
    <%= f.text_field :customer %>
    <br />
    <%= f.label :order %>
    <%= f.text_field :order %>
    <br />
    <%= f.submit %>
<% end %>
